@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

body {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 24px;
}

body {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.container {
    display: block;
    position: relative;
    max-width: 800px;
    margin-left: 10%;
    margin-top: 10%;
}