@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'EB Garamond', serif;
}

p {
    font-size: 24px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: text; 

}

a:link {
    color: #0000EE;
}
a:visited {
    color: #0000EE;
}
a:hover {

}
a:active {

}

.container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 480px;
    margin-top: 5vh;

}

#canvasParent {
    display: block; 
    position: fixed;
    z-index: 0;
}

canvas {
    pointer-events: inherit;
}

.obscuredText {
    display: block;
    position: fixed;
    width: 640px;
    height: 480px;
    overflow-y: hidden;
    z-index: 0;
    text-align: justify;
}

#textTable {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.text {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: bottom;
}

.smallScreens {
    display: none;
    width: 100vw;
    text-align: center;
}

.on {
    pointer-events: auto;
}

.off {
    pointer-events: none;
}

@media only screen and (max-width: 780px){
    
    p {
        font-size: 20px;
    }

    .obscuredText {
        width: 100vw;
    }

    .container {
        display: fixed;
        
        width: 100vw;
        height: 100vh;
        margin-bottom: 0px;
    }
}
