@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'EB Garamond', serif;
    overflow: hidden;
}

p {
    font-size: 24px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: text; 

}

b, ol {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: text; 
}

a:link {
    color: #0000EE;
}
a:visited {
    color: #0000EE;
}
a:hover {

}
a:active {

}

.container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 640px;
    height: 100vh;
    padding-top: 5vh;
    overflow-y: hidden;

}

.titlepage_container {
    display: inline-block;
    position: relative;
    width: 640px;
    height: 480px;
    margin-top: 10%;
}

.titlepage_container img {
    display: block;
    position: absolute;
    width: 640px;
    height: 480px;
}

.titlepage_container p {
    display: block;
    position: absolute;
    font-size: 1.2em;
    bottom: 30%;
    right: 31%;
}

.notes#canvasParent
{
    /* bottom: 0px; */
}

#canvasParent {
    display: block; 
    position: fixed;
    z-index: 0;
}

.etc{
    display: inline-block;
    position: relative;
    margin: 0px;
    bottom: 0px;
}

.etc p {
    font-size: 1.25em;
    margin: 0px;
    padding-left: 15px;
}

p#notes {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 1em;
}

canvas {
    pointer-events: inherit;
}

.obscuredText {
    display: block;
    position: fixed;
    width: 640px;
    height: 480px;
    overflow-y: hidden;
    z-index: 0;
    text-align: justify;
}

.obscuredText#notes {
    overflow-y: scroll;
    padding-right:30px;
    /* bottom: 10px; */
}

#epigraph p {
    /* font-size: 1.2em; */
    margin-right: 10%;
    margin-left: 10%;
}

#textTable {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.text {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: bottom;
}

.smallScreens {
    display: none;
    width: 100vw;
    text-align: center;
}

.on {
    pointer-events: auto;
}

.off {
    pointer-events: none;
}

.options-toggle {
    display: block;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    top: 6px;
    left: 0px;
    padding-left: 24px;
    padding-bottom: 12px;
    line-height: 0px;
    width: 36px;
    height: 36px;
    z-index: 200;
}

.options-toggle p {
    pointer-events: none;
}

.options-toggle:hover
{
    cursor: pointer;
}

.options {
    display: block;
    position: fixed;
    top: -40px;
    left: 48px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 200;
}

.options p {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 16px;
}

.options span {
    padding-left: 12px;
}

input[type="range"] {
    height: 10px;
    width: 100px;
    margin: 0;
}


@media only screen and (max-width: 640px){
    
    p {
        font-size: 20px;
    }

    .obscuredText {
        max-width: 640px;
        width: 100vw;
    }

    .text {
        padding: 20px;
    }

    .container {
        display: block;
        position: relative;
        width: 100vw;
        /* height: 100vh; */
        margin-bottom: 0px;
    }

    .titlepage_container {
        width: 100vw;
        height: calc(100vw*0.77);
    }
    
    .titlepage_container img {
        width: 100%;
        height: auto;
    }
    
    .titlepage_container p {
        font-size: 1em;
    }

    .etc p {
        font-size: 1em;
    }

    .options-toggle p {
        font-size: 24px;
    }
}
