body {
    font-size: 30px;
}

.textContainer{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: justify;
}

@media only screen and (max-width: 768px){
    .textContainer{
        width: 90vw;
        margin-left: 3vw;
    }

    body {
        font-size: 22px;
    }
}